@font-face {
  font-family: 'ProductSans';
  src: url(../Fuentes/ProductSans.ttf);
}


#logo {
  margin-right: 20px;
}
#logo:hover {
  transition-duration: 500ms;
  transform: scale(1.1)
}

.nav-contenedor{
  font-family: ProductSans;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  background-color: rgba(248, 240, 240, 0.274);
  backdrop-filter: blur(10px);
 
 
}

.nav {
align-items: center;
color: rgb(24, 23, 23);
font-weight: 800;
transition: 1s;
transform: scale(1.1);
justify-content: center;
}


.about {
  color: rgb(24, 23, 23);
  font-weight: 500;

}

.about:visited{
  text-decoration: none;
}


.search {
  background-color: white;
  border-radius: 4px;
  padding: 3px;
  border:none;
  margin-right: 5px;
 
  
}
.search:focus {
  outline-color: white;

}

.nombre {
  margin-top: 8px;
}

.agregar {
  color: white;
  font-size: small;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(16, 15, 15, 0.412);
  border: none;
  border-radius: 4px;
 
  

}
.agregar:hover {
  background-color: rgba(16, 15, 15, 0.258);
  transition-duration: 500ms;
  transform: scale(1.1)
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}



/*********** MEDIA QUERIES (MEDIUM DEVICES ************/
@media screen and (max-width: 1024px) {
  .nombre {
    display: none;
  }
  .search {
    width: 40%;
  }
}

/*********** MEDIA QUERIES (SMALL DEVICES ************/
@media screen and (max-width: 600) {
  .nombre {
    display: none;
  }
  .search {
    width: 40%;
  }
}